


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
 }
 header{
    position: fixed;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;


 
 }
 .logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
 }
 .navlist{
    display: flex;
 }
 .navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
 }
 .navlist a:hover{
    border-bottom: 2px solid white;
 }
 #menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
 }
 .hero{ 
    height: 100%;
    width: 100%;
    height: ;
    min-height: 100vh;
    background-color:#a9babc;   
    background-image: url("./images/background.jpg"); 
    background-repeat: no-repeat;  
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
    position: relative;
    display: grid;
    grid-template-columns:  ; 
    align-items: center;
    gap: ;
    color: white; 
    
 }
 .hero-text h2{
    padding: ;
    width: ;
    text-align: center;
 
 }
 .hero-img{
    padding-top: 6%;
    padding: 0 26%;
    padding-top: 4%;
    filter: brightness();
 }

 .hero-text img{
   margin-left: 10%;
   margin-right: 6.5%;
   margin-bottom: 1%;
   padding-left: ;
   object-fit: cover;
   width: 230px;
height: 300px;
alig: center;
opacity: 100%;
border: 5px solid #EAECEC;


 }